
<div class="container">
<div class="agri">
   {{#link-to 'display' agriculture.id}}
    <p><strong> Company Name:</strong>    {{agriculture.companyname}} </p>

      {{/link-to}}
</div>
<div>
<p>Details:    {{agriculture.details}}</p>
<p>Tender No:    {{agriculture.tender_no}}</p>
</div>

</div>
