<div class ="container">
<div class="agri">
   {{#link-to 'display-health' health.id}}
    <p><strong> Company Name:</strong>    {{health.companyname}} </p>

      {{/link-to}}
</div>
<div>
<p>Details:    {{health.details}}</p>
<p>Tender No:    {{health.tender_no}}</p>
</div>
</div>
