<div class="container">
<div class="agri">
   {{#link-to 'display-it' it.id}}
    <p><strong> Company Name:</strong>    {{it.companyname}} </p>

      {{/link-to}}
</div>
<div>
<p>Details:    {{it.details}}</p>
<p>Tender No:    {{it.tender_no}}</p>
</div>
</div>
