<div class ="container">
<div class="agri">
   {{#link-to 'display-other' other.id}}
    <p><strong> Company Name:</strong>    {{other.companyname}} </p>

      {{/link-to}}
</div>
<div>
<p>Details:    {{other.details}}</p>
<p>Tender No:    {{other.tender_no}}</p>
</div>
</div>
