<div class ="container itd">
<p> <strong>DETAILS:</strong>{{other.details}}</p>
<p><strong> TENDER NO:</strong>{{other.tender_no}}</p>
<p> <strong>OPEN DATES:</strong>{{other.open_dates}}</p>
<p> <strong>CLOSE DATES:</strong>{{other.close_dates}} </p>
<div class="glyphicon-download-alt">
<a href="http://supplier.treasury.go.ke/site/tenders.go/index.php/public/tenders/type:new" class="btn btn-primary">
  Download Tender Form
  <span class="glyphicon glyphicon-download-alt"></span></a>
</div>
</div>
