<div class ="container">
<div class="agri">
   {{#link-to 'display-supply' supply.id}}
    <p><strong> Company Name:</strong>    {{supply.companyname}} </p>

      {{/link-to}}
</div>
<div>
<p>Details:    {{supply.details}}</p>
<p>Tender No:    {{supply.tender_no}}</p>
</div>
{{iso}}
</div>
