.container-conc{
  margin-top: 15%;

}

.adminF{
  margin-top: 12%;
}
.itd{
  margin-top: 15%;
  margin-bottom: 10%;
}
/*.cat3{
  background-color: #e6fff9 ;
  width:100%;
  height:auto;
  border: 1px solid;
}*/




.header h2{
 font-size: 60px;
 color: #fff;
 text-align: center;
 font-family: 'Sigmar One', cursive;
}
.header a{
  color: #8dcc39;
  font-family: 'Sigmar One', cursive;
}
.container-header{
 background-image: url('../assets/images/office1.jpg');
 background-position: center;
 padding-top: 25%;
 padding-bottom: 5%;
 width:100%;
 background-repeat: no-repeat;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 -ms-background-position-x: center;
 -ms-background-position-y: top;
 background-position: center top;
}
nav.navbar {
  margin: 0;
  border-radius: 0;
  position: fixed;
  z-index: 1;
  background-color: #26565a;
  overflow: hidden;
  right: 0;
  left: 0;
  top: 0;
}

li a {
   display: block;
   color: #000;
   text-align: center;
   text-decoration: none;
}

li a:hover {
   background-color: #fff;
}
.carousel-content {
   color:#fff;
   display:flex;
   align-items:center;
   font-size: 25px;
   text-align: center;
   padding-right: 7%;
   padding-left: 7%;
   font-family: 'Slabo 27px', serif;
}

#text-carousel {
 width: 100%;
 height: auto;
 padding: 50px;
}
#cat1 {
   width: 100%;
   height: auto;
   background-color:#ed5a00  ;
   color: wheat;
   box-shadow: 10px 10px 15px #e6e6ff ;
   margin-bottom: 5px;
}

.swipe a{
  margin-left: 48%;
  color: white;
  font-size: 40px;
}
.swipe1 a{
  color: #123b59;
  margin-left: 48%;

  font-size: 40px;
}

#body{
  padding-top: 150px;
}
#cat2 {
   width: 100%;
   height: auto;
   background-color:#e6ffff  ;
   box-shadow: 2px 2px 10px #e6e6ff ;
   margin-top: 10%;
   margin-bottom: 5%;
   box-sizing: content-box;
}
#map2 {
  margin-top: 2%;
}
.det1{
 width:350px;
 height: 200px;
}
.det2{
 width:250px;
 height: 500px;
}
.det3{
 width:300px;
 height: 350px;
}

.categry div{
margin: 10px;
}
.healthy{
 background-image: url('../assets/images/heart.jpg');
 background-color: #de3f18;
 width:30px;
 height: 200px;
 text-align: center;
 box-sizing: content-box;
 padding: 70px;
 padding-bottom: 5%;
 padding-top: 10%;
 text-align: center;
 margin: 0.3%;
 font-family: 'Barrio', cursive;
 color: #123b59;
}
.agric{
 background-image: url('../assets/images/ducky.jpg');
 background-color:  #a1b400;
 width:300px;
 height: 200px;
 text-align: center;
 box-sizing: content-box;
 padding: 70px;
 padding-bottom: 5%;
 padding-top: 10%;
 text-align: center;
 margin: 0.3%;
 font-family: 'Barrio', cursive;
 color: #fdc010;
}
.supply{
 background-image: url('../assets/images/media.jpg');
 background-color:  #fdc010;
 width:300px;
 height: 200px;
 text-align: center;
 box-sizing: content-box;
 padding: 70px;
 padding-bottom: 5%;
 padding-top: 10%;
 margin: 0.3%;
 font-family: 'Barrio', cursive;
 color:  #123b59;

}
.supply:hover{
  font-size: 30px;
}
.it{
 background-image: url('../assets/images/web.jpg');
 background-color: #123b59;
 width:300px;
 height: 200px;
 text-align: center;
 box-sizing: content-box;
 padding: 70px;
 padding-bottom: 5%;
 padding-top: 10%;
 text-align: center;
 margin: 0.3%;
 font-family: 'Barrio', cursive;
 color:  #de3f18;
}
.other {
  background-image: url('../assets/images/web.jpg');
  background-color:  #d8771a;
  width:300px;
  height: 200px;
  text-align: center;
  box-sizing: content-box;
  padding: 70px;
  padding-bottom: 5%;
  padding-top: 10%;
  text-align: center;
  margin: 0.3%;
  font-family: 'Barrio', cursive;
  color: #a1b400;
}
.container-cont{
 text-align: center;

}
.carousel-control.left, .carousel-control.right {
   background: none !important;
   filter: progid: none !important;
}

/*Footer Section*/
.footer{
  background-color: #ed5a00;
  height: 600px;
  /*box-sizing: content-box;*/
  text-align: center;
}
.footer h2 {
  font-size: 40px;
  color: #fff;
  text-align: center;
  font-family: 'Sigmar One', cursive;
}
.tenderFooter{
  padding-top: 2%;
  text-align: center;
  /*background-size: cover;*/
}
.tenderFooter hr {
  width: 60%;
}
.iconFooter{
  padding-left: 6%;
}
.icon{
 display: inline-block;
 margin-right: 5%;
 margin-top: 2%;
}
.services{
  box-sizing: content-box;
}
.vertical-line {
  width: 1%;;
  height: 100%;
  float: left;
  border: 1%;
  border-left: thick solid #000;
  background-color: black;
}


.section{
  box-shadow: 2px;
  background-color:	#DCDCDC  ;
  a:hover {
      background-color: #fff;
  }
}
.section1{
  display: block;
}
.contact{
  text-align: center;
}
/*.agriculture{

color: #D3D3D3;
}*/
.agri p {
  color: #000;
  background: #e8e8e8;
  /*box-shadow: 4px 3px 3px #888888;*/
}
#agr{
  text-align: center;
}
.glyphicon-download-alt{

  float: right;
  text-color:black;
}
.iso{

  box-shadow: 2px;
  background-color:	#8DCC39  ;
  float: right;
  font-size: 50px;
}
.links{
  margin-left: 19px;
}
