<div class="col-md-12" id="cat2">
                                                          _______________
 <h2>Government Clusters:</h2>
    The main functions of clusters are to ensure alignment of government-wide priorities, facilitate and monitor the implementation of priority programmes, and provide a consultative platform on cross-cutting priorities and matters being taken to Cabinet.
    <br>
    The clusters function at different levels, namely ministerial, directors-general and communication clusters. There are seven clusters namely:
            <div class="col-md-12" >
                <div class="det2 col-md-3">
                        <h3>Infrastructure Development Cluster</h3>
                        The departments in this cluster are:
                        Transport
                        <br>
                        Public Enterprises
                        <br>
                        Cooperative Governance and Traditional Affairs
                        <br>
                        Economic Development
                        <br>
                        Energy
                        <br>
                        Environmental Affairs
                        <br>
                        Finance
                        <br>
                        Human Settlements
                        <br>
                        Public Works
                        <br>
                        Telecommunications and Postal Services (previously Communications)
                        <br>
                        The Presidency: National Planning Commission
                        <br>
                        Water and Sanitation.
                </div>
                <div class="det2 col-md-3">
                        <h3>Economic Sectors and Employment Cluster</h3>
                        The departments in this cluster are:
                        Rural Development and Land Reform
                        <br>
                        Science and Technology
                        <br>
                        Agriculture, Forestry and Fisheries
                        <br>
                        Economic Development
                        <br>
                        Finance
                        <br>
                        Higher Education and Training
                        <br>
                        Labour
                        <br>
                        Mineral Resources
                        <br>
                        Public Enterprises
                        <br>
                        Telecommunications and Postal Services (previously Communications)
                        <br>
                        Tourism
                        <br>
                        Trade and Industry.
                </div>
                <div class="det2 col-md-3">
                        <h3>Governance and Administration Cluster</h3>
                        The departments in this cluster are:
                        Home Affairs
                        <br>
                        Public Service and Administration
                        <br>
                        Cooperative Governance and Traditional Affairs
                        <br>
                        Justice and Constitutional Development
                        <br>
                        Finance
                        <br>
                        The Presidency: Performance Monitoring, Evaluation and Administration.
                        <br>
                        Human Development Cluster
                </div>
                <div class="det2 col-md-3">
                        <h3>The departments in this cluster are:</h3>
                        Basic Education
                        <br>
                        Health
                        <br>
                        Arts and Culture
                        <br>
                        Higher Education and Training
                        <br>
                        Labour
                        <br>
                        Science and Technology
                        <br>
                        Sport and Recreation
                </div>
            </div>
            <div class="col-md-12" >
                <div class="det3 col-md-4">
                        <h3>Social Protection and Community Development Cluster</h3>
                        The departments in this cluster are:
                        Social Development
                        <br>
                        Public Works
                        <br>
                        Cooperative Governance and Traditional Affairs
                        <br>
                        Environmental Affairs
                        <br>
                        Human Settlements
                        <br>
                        Labour
                        <br>
                        Rural Development and Land Reform
                        <br>
                        Transport
                        <br>
                        Water and Sanitation
                        <br>
                        Women
                </div>
                <div class="det3 col-md-4">
                        <h3>International Cooperation, Trade and Security Cluster</h3>
                        The departments in this cluster are:
                        Defence and Military Veterans
                        <br>
                        International Relations and Cooperation
                        <br>
                        Environmental Affairs
                        <br>
                        Finance
                        <br>
                        Rural Development and Land Reform
                        <br>
                        Trade and Industry
                        <br>
                        Tourism
                        <br>
                        Water and Sanitation
                </div>
                <div class="det3 col-md-4">
                        <h3>Justice, Crime Prevention and Security Cluster</h3>
                        The departments in this cluster are:
                        Justice and Constitutional Development
                        <br>
                        Police • Correctional Services
                        <br>
                        Defence and Military Veterans
                        <br>
                        Home Affairs
                        <br>
                        State Security
                </div>
        </div>
</div>
