<div class ="container">
<div class="col-md-12" id="cat2">
                                                          _______________
 <h2> ABOUT TENDER IT</h2>
    Tender IT is a tender advertisment portal. A small beginning with a tender clipping service started in 1998 has been transformed into a full-fledged corporate portal in 2008. Launched by Tender Data Solutions of Hyderabad to  provide  relevant, up-to-date, detailed and customized  information on exact tenders
    of your interest in a simple online format. This enables the subscriber to access tenders the way he wants
    <br>

<br>
<br>
<br>


            <div class="col-md-12" >
              <section>
                <div class="det2 col-md-3 section">
                        <h3>WHY ADVERTISE WITH TENDER IT?</h3>
                      <br>
                      <div>
                        Provides Open Tenders, Prequalification Tenders,
                        Empanelment Notices etc.

                      </div>
                        <br>
                      <div>
                        Delivered by Email and made available on Website.
                        <br>
                      </div>
                        <br>
                      <div>
                        Covers Tenders of  State Govt.  and Central Govt. Depts.,
                        PSUs, Banks, Educational Institutions, Defence Organisations, etc.
                        <br>
                      </div>
                        <br>

                        <br>
                      <div>
                        Subscribe Online now to start using the tender
                         information service from tenderweb.com
                       </div>

                </div>
              </section>
                <div class="det2 col-md-3 section1">





                        <h3>Tender IT is a tender advertisment portal.</h3>
                        A small beginning with a tender clipping service
                        started in 1998 has been transformed
                        into a full-fledged corporate portal in 2008.
                        <br>
                        Launched by Tender Data Solutions of Hyderabad
                        <br>
                        to  provide  relevant, up-to-date, detailed and customized
                        information on exact tenders of your interest
                        in a simple online format.
                        <br>
                        This enables the subscriber to access
                         tenders the way he wants.
                        <br>
                        Having rich experience in collection,
                        processing and dissemination of
                         information on tenders,
                          we are in a unique position to provide the customised
                           tender information online.

                </div>



                <div class="det2 col-md-3 section1">
                        <h3>Tenders are culled from the print media
                          and websites across the net.</h3>
                         specific information needs of every subscriber.
                        <br>
                        Tender Updates are delivered by Email
                          and made available on the Website.
                        <br>
                        Innovative feature presentation and quick
                         tender updates make www.tenderit.com
                         quite different from other websites.
                        <br>
                         A valuable resource website for manufacturers,
                          distributors, dealers,material
                          suppliers, service providers
                            and other contracting firms.

                </div>
                <div class="det2 col-md-3 section1">
                  <h3>Tender IT is a tender advertisment portal.</h3>
                  A small beginning with a tender clipping service
                  started in 1998 has been transformed
                  into a full-fledged corporate portal in 2008.
                  <br>
                  Launched by Tender Data Solutions of Hyderabad
                  <br>
                  to  provide  relevant, up-to-date, detailed and customized
                  information on exact tenders of your interest
                  in a simple online format.
                  <br>
                  This enables the subscriber to access
                   tenders the way he wants.
                  <br>
                  Having rich experience in collection,
                  processing and dissemination of
                   information on tenders,
                    we are in a unique position to provide the customised
                     tender information online.

                </div>
            </div>


</div>
{{#link-to 'agriculture'}}AGRICULTURE{{/link-to}}
{{#link-to 'health'}}HEALTH{{/link-to}}
{{#link-to 'it'}} IT{{/link-to}}
{{#link-to 'supplies'}}SUPPLY{{/link-to}}
{{#link-to 'others'}}OTHERS{{/link-to}}

</div>
