<div>
  {{#each model.agricultures as |agriculture|}}
    <div>{{agriculture-tile agriculture=agriculture}}</div>
  {{/each}}
</div>


<!-- <ul>
  {{#each model.agricultures as |agriculture|}}
    <h3>{{agriculture.companyname}} </h3>
  {{/each}}
</ul> -->

<!-- {{new-tender saveAgriculture2="saveAgriculture3"}} -->
