<div class="container-header">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <div class="navbar-brand brand"> <img src="assets/images/tender.png"></div> -->
    </div>
<div class ="header">
  <h2> TENDER IT</h2>
</div>
      <ul class="nav navbar-nav navbar-right">
        <li><a>{{#link-to 'about'}}ABOUT US{{/link-to}}</a></li>
        <li><a>{{#link-to 'contact'}}CONTACT US{{/link-to}}</a></li>
        <li><a>{{#link-to 'tender'}}ADMIN{{/link-to}}</a></li>
      </ul>

  </div>
</nav>
</div>
{{outlet}}


 <div class="app_footer">
    <footer>
       {{#link-to 'contact'}}Contact Us{{/link-to}}
    </footer>
  </div>
