<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand brand"> <img src="https://www.google.com/imgres?imgurl=http%3A%2F%2Fwww.tenderit.fi%2Fwp-content%2Fuploads%2F2016%2F03%2Ftenderit-minilogo-valk.png&imgrefurl=http%3A%2F%2Fwww.tenderit.fi%2F&docid=E6VGbXqvMTkfXM&tbnid=Z2O3xsJcAvkRAM%3A&vet=1&w=300&h=249&bih=648&biw=1366&q=tenderIT%20logo&ved=0ahUKEwjJyYuviurRAhWIOCYKHY2HBzIQMwgbKAAwAA&iact=mrc&uact=8"></div>
    </div>
<div class ="header">
  <h2> TENDER IT</h2>
</div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a>{{#link-to 'about'}}ABOUT US{{/link-to}}</a></li>
        <li><a>{{#link-to 'contact'}}CONTACT US{{/link-to}}</a></li>
        <li><a>{{#link-to '#'}}ADMIN{{/link-to}}</a></li>
      </ul>
    <!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{{outlet}}

<!-- <div class= "container" id="I">
<!dvgshbkjgfeknldm>


</div> -->
< <div class="app_footer">
    <footer>
       {{#link-to 'contact'}}Our represen{{/link-to}}
    </footer>
  </div> -->
