
<div class="container">
  <h1 id ="agr"> HEALTH  TENDERS </h1>
  {{#each model.healths as |health|}}
    <div>{{health-tile health=health}}</div>
  {{/each}}
    {{iso-date}}
</div>

{{#link-to 'agriculture'}}AGRICULTURE{{/link-to}}
{{#link-to 'health'}}HEALTH{{/link-to}}
{{#link-to 'it'}} IT{{/link-to}}
{{#link-to 'supplies'}}SUPPLY{{/link-to}}
{{#link-to 'others'}}OTHERS{{/link-to}}
