<div class="container-header">
  <div id="text-carousel" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="row">
              <div class="carousel-inner">
                  <div class="item active">
                      <div class="carousel-content">
                          <div>
                              <p>Welcome to the tenderIT website. It's a procurement information system
                                for Tenders which provides centralised publication of private and government
                                 business opportunities, annual procurement plans,
                                multi-use lists and contracts awarded.</p>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="carousel-content">
                          <div>
                              <p>The Website offers a range of tools that makes the tendering process easy.It's a procurement
                                information system
                                for Tenders which provides centralised publication of private and government
                                 business opportunities, annual procurement plans,
                                multi-use lists and contracts awarded.</p>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="carousel-content">
                          <div>
                              <p>Find it! Tender It!It's a procurement information system
                                for Tenders which provides centralised publication of private and government
                                 business opportunities, annual procurement plans,
                                multi-use lists and contracts awarded.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      <!-- Controls --> <a class="left carousel-control" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
   <a class="right carousel-control"data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
  <div class="swipe">
       <a href="#body"class="glyphicon glyphicon-menu-down"></a>
   </div>
</div>
<div class="container" id="body">
  <h1>Tender Categories</h1>
  <div class="row col-md-12">
  {{#link-to 'agriculture'}}
      <div class="agric col-md-2">
        <img src="../assets/images/plant.png" alt=""/>
        <h3>AGRICULTURE</h3>
      </div>
  {{/link-to}}
  {{#link-to 'health'}}
    <div class="healthy col-md-2">
      <img src="../assets/images/stethoscope.png" alt=""/>
      <h3>HEALTH</h3>
    </div>
  {{/link-to}}
  {{#link-to 'it'}}
    <div class="it col-md-2">
      <img src="../assets/images/laptop3.png" alt=""/>
      <h3>INFO TECH</h3>
    </div>
    {{/link-to}}
  {{#link-to 'supplies'}}
      <div class="supply col-md-2">
        <img src="../assets/images/delivery-truck.png" alt=""/>
        <h3>SUPPLIES</h3>
      </div>
  {{/link-to}}
  {{#link-to 'others'}}
  <div class="other col-md-2">
    <img src="../assets/images/clipboard.png" alt=""/>
    <h3>OTHERS</h3>
  </div>
  {{/link-to}}
  </div>
  <div class="swipe1">
       <a href="#info"class="glyphicon glyphicon-menu-down"></a>
   </div>
</div>
<div class="container" id="info">
<div class="cat3">
<h2>Tender Types:</h2>
RFx is a term used to refer to a family of ‘Request For…’ documents used to solicit responses of various types from suppliers. The three documents used in this family include Request for Information (RFI), Request for Proposal (RFP) and Request for Quote. (RFQ)
<br>
<h3>Request for Information (RFI)</h3>
An RFI is generally used when the solution to a business problem is not immediately evident or clearly defined. The RFI is used to gather information, NOT to make a selection or an award. The SCM Unit works with the Customer to:
<br>
clearly describe the problem
<br>
solicit external expertise regarding how to solve the problem,
<br>
study proposed solutions.
<br>
<h3>Request for Proposal (RFP)</h3>
<br>
An RFP is used when the Customer understands the business problem and what’s needed to solve it, including specifications and procedures. Price is usually not the determining factor in the evaluation of an RFP. Factors such as quality, service, and reputation are also taken into consideration.
<br>
<h3>Request for Quote (RFQ)</h3>
<br>
An RFQ is generally used to obtain pricing, delivery information, terms and conditions from suppliers. In this case, requestors have a clear understanding of what they need, including requirements and specifications. To procure the exact product or service you need, the Customer provides the SCM Unit with as much information as possible, including complete specifications, quantities, and delivery schedule.
                                                                                                           _______________
</div>
{{#link-to 'agriculture'}}Agriculture{{/link-to}}
{{#link-to 'health'}} Health{{/link-to}}
{{#link-to 'it'}} IT{{/link-to}}
{{#link-to 'others'}}Others{{/link-to}}
</div>
