
<div class="container-header">

  <div id="text-carousel" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="row">

              <div class="carousel-inner">
                  <div class="item active">
                      <div class="carousel-content">
                          <div>
                              <p>Sapiente, ducimus, voluptas, mollitia voluptatibus nemo explicabo sit blanditiis laborum dolore illum fuga veniam quae expedita libero accusamus quas harum ex numquam necessitatibus provident deleniti tenetur iusto officiis recusandae corporis culpa quaerat?</p>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="carousel-content">
                          <div>
                              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, sint fuga temporibus nam saepe delectus expedita vitae magnam necessitatibus dolores tempore consequatur dicta cumque repellendus eligendi ducimus placeat! </p>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="carousel-content">
                          <div>
                              <p>Sapiente, ducimus, voluptas, mollitia voluptatibus nemo explicabo sit blanditiis laborum dolore illum fuga veniam quae expedita libero accusamus quas harum ex numquam necessitatibus provident deleniti tenetur iusto officiis recusandae corporis culpa quaerat?</p>
                          </div>
                      </div>
                  </div>

              </div>
          </div>

      <!-- Controls --> <a class="left carousel-control" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
   <a class="right carousel-control"data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

  </div>
</div>

<h1>Tender Categories</h1>
<div class="categry col-md-12">
<div class="agric col-md-3">
    AGRICULTURE
</div>
<div class="healthy col-md-3">
    {{!--<img src="../assets/images/heart.jpg" class="rounded">--}}
    HEALTH
</div >
<div class="it col-md-3">
    INFO TECH
</div>
<div class="supply col-md-3">
    SUPPLIES
</div>
</div>
<div class="col-md-12" id="cat1">
    <h2>Category Information</h2>
All bids are categorised according to the following: information Technology, supplies, health and Agriculture categories:
        <div class=" det1 col-md-4">
                <h3>Services:</h3>

                Building Services
                <br>
                Civil Services
                <br>
                Electrical Services
                <br>
                Functional Services (Including Cleaning and Security Services)
                <br>
                Professional Services
                <br>
                General Services

        </div>
        <div class=" det1 col-md-4">
                <h3>Supplies:</h3>
                Clothing/Textiles/Footwear
                <br>
                Computer Equipment
                <br>
                Electrical Equipment
                <br>
                Medical
                <br>
                Perishable Provisions
                <br>
                Stationery / Printing
                <br>
                General
        </div>
        <div class=" det1 col-md-4">
                <h3>Disposals:</h3>
                General disposal
        </div>
    </div>
  

<div class="cat3">
<h2>Tender Types:</h2>
RFx is a term used to refer to a family of ‘Request For…’ documents used to solicit responses of various types from suppliers. The three documents used in this family include Request for Information (RFI), Request for Proposal (RFP) and Request for Quote. (RFQ)
<br>
<h3>Request for Information (RFI)</h3>
An RFI is generally used when the solution to a business problem is not immediately evident or clearly defined. The RFI is used to gather information, NOT to make a selection or an award. The SCM Unit works with the Customer to:
<br>
clearly describe the problem
<br>
solicit external expertise regarding how to solve the problem,
<br>
study proposed solutions.
<br>
<h3>Request for Proposal (RFP)</h3>
<br>
An RFP is used when the Customer understands the business problem and what’s needed to solve it, including specifications and procedures. Price is usually not the determining factor in the evaluation of an RFP. Factors such as quality, service, and reputation are also taken into consideration.
<br>
<h3>Request for Quote (RFQ)</h3>
<br>
An RFQ is generally used to obtain pricing, delivery information, terms and conditions from suppliers. In this case, requestors have a clear understanding of what they need, including requirements and specifications. To procure the exact product or service you need, the Customer provides the SCM Unit with as much information as possible, including complete specifications, quantities, and delivery schedule.
                                                                                                           _______________
</div>
{{#link-to 'agriculture'}}Agriculture{{/link-to}}
{{#link-to 'supplies'}} Supplies{{/link-to}}
{{#link-to 'health'}} Health{{/link-to}}
{{#link-to 'it'}} IT{{/link-to}}
{{#link-to 'others'}}Others{{/link-to}}
