<div class="container">
  <h1 id ="agr"> SUPPLIES TENDERS </h1>
 {{#each model.supplies as |supply|}}
   <div>{{supplies-tile supply=supply}}</div>
 {{/each}}
   {{iso-time}}
</div>

{{#link-to 'agriculture'}}AGRICULTURE{{/link-to}}
{{#link-to 'health'}}HEALTH{{/link-to}}
{{#link-to 'it'}} IT{{/link-to}}
{{#link-to 'supplies'}}SUPPLY{{/link-to}}
{{#link-to 'others'}}OTHERS{{/link-to}}
